@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0b1120;
    --foreground: #f5f5f5;

    --muted: #202937;
    --muted-foreground: #b3b3b3;

    --popover: #000000;
    --popover-foreground: #000000;

    --card: #0e172a;
    --card-foreground: #f5f5f5;

    --border: #202937;
    --input: #202937;
    --sidebar: #0e172a;

    --primary: #a252c8;
    --primary-foreground: #f5f5f5;

    --secondary: #202937;
    --secondary-foreground: #f5f5f5;

    --accent: #000000;
    --accent-foreground: #000000;

    --destructive: #000000;
    --destructive-foreground: #000000;

    --ring: #202937;

    --radius: 0.5em;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Lato', sans-serif;
  }
}
